const config = {
	mongodbUrl: "{{ bc_daobet_mongodb_url }}",
	dbUpdatePeriod: 5000,
	hayaNodeUrl: "{{ bc_daobet_fullnode_api_url }}",
	hayaUpdatePeiod: 1000,
	baseToken: "BET",
	tokenAccount: "eosio.token"
};

module.exports = config;
